# Exercise 05 : Pandas optimizations

In [1]:
import pandas as pd
import gc

## • read the ﬁnes.csv that you saved in the previous exercise

In [2]:
df = pd.read_csv('../data/fines.csv')
df.head(10)

      CarNumber  Refund        Fines    Make    Model  Year
0  Y163O8161RUS       2  3200.000000    Ford    Focus  1989
1   E432XX77RUS       1  6500.000000  Toyota    Camry  1995
2   7184TT36RUS       1  2100.000000    Ford    Focus  1984
3  X582HE161RUS       2  2000.000000    Ford    Focus  2015
4  92918M178RUS       1  5700.000000    Ford    Focus  2014
5  H234YH197RUS       2  6000.000000    Ford    Focus  1990
6  E40577152RUS       1  8594.586466    Ford    Focus  1988
7  707987163RUS       2  2200.000000    Ford    Focus  2016
8  K330T8197RUS       2  8200.000000   Skoda  Octavia  2018
9   X786CO96RUS       1  8594.586466    Ford    Focus  2000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    object
 1   Refund     930 non-null    int64
 2   Fines      930 non-null    float64
 3   Make       930 non-null    object
 4   Model      919 non-null    object
 5   Year       930 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 43.7+ KB

## • iterations: in all the following subtasks, you need to calculate ﬁnes/refund*year for each row and create a new column with the calculated data and measure the time using the magic command %%timeit in the cell

◦ loop: write a function that iterates through the dataframe using for i in range(0, len(df)), iloc and append() to a list, assign the result of the function to a new column in the dataframe

◦ do it using iterrows()

◦ do it using apply() and lambda function

◦ do it using Series objects from the dataframe

◦ do it as in the previous subtask but with the method .values

### loop

In [4]:
%%timeit
new_column = []
for i in range(len(df)):
    new_column.append(df.iloc[i]['Fines'] / (df.iloc[i]['Refund'] * df.iloc[i]['Year']))
df['Fines / Refund * Year'] = new_column

291 ms ± 1.11 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [5]:
df.head()

      CarNumber  Refund   Fines    Make  Model  Year  Fines / Refund * Year
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989               0.804424
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995               3.258145
2   7184TT36RUS       1  2100.0    Ford  Focus  1984               1.058468
3  X582HE161RUS       2  2000.0    Ford  Focus  2015               0.496278
4  92918M178RUS       1  5700.0    Ford  Focus  2014               2.830189

In [6]:
del df['Fines / Refund * Year']

### iterrows()

In [7]:
%%time
new_column = []
for index, row in df.iterrows():
    new_column.append(row['Fines'] / (row['Refund'] * row['Year']))
df['Fines / Refund * Year'] = new_column

CPU times: user 48.4 ms, sys: 2.34 ms, total: 50.8 ms
Wall time: 53.2 ms

In [8]:
df.head()

      CarNumber  Refund   Fines    Make  Model  Year  Fines / Refund * Year
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989               0.804424
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995               3.258145
2   7184TT36RUS       1  2100.0    Ford  Focus  1984               1.058468
3  X582HE161RUS       2  2000.0    Ford  Focus  2015               0.496278
4  92918M178RUS       1  5700.0    Ford  Focus  2014               2.830189

In [9]:
del df['Fines / Refund * Year']

### apply() and lambda function

In [10]:
%%time
df['Fines / Refund * Year'] = df.apply(lambda row: row['Fines'] / (row['Refund'] * row['Year']), axis=1)

CPU times: user 16 ms, sys: 1.4 ms, total: 17.4 ms
Wall time: 16.4 ms

In [11]:
df.head()

      CarNumber  Refund   Fines    Make  Model  Year  Fines / Refund * Year
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989               0.804424
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995               3.258145
2   7184TT36RUS       1  2100.0    Ford  Focus  1984               1.058468
3  X582HE161RUS       2  2000.0    Ford  Focus  2015               0.496278
4  92918M178RUS       1  5700.0    Ford  Focus  2014               2.830189

In [12]:
del df['Fines / Refund * Year']

### Series objects from the dataframe

In [13]:
%%time
df['Fines / Refund * Year'] = df['Fines'] / (df['Refund'] * df['Year'])

CPU times: user 1.94 ms, sys: 1.37 ms, total: 3.32 ms
Wall time: 5.25 ms

In [14]:
df.head()

      CarNumber  Refund   Fines    Make  Model  Year  Fines / Refund * Year
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989               0.804424
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995               3.258145
2   7184TT36RUS       1  2100.0    Ford  Focus  1984               1.058468
3  X582HE161RUS       2  2000.0    Ford  Focus  2015               0.496278
4  92918M178RUS       1  5700.0    Ford  Focus  2014               2.830189

In [15]:
del df['Fines / Refund * Year']

### the previous subtask but with the method .values

In [16]:
%%time
df['Fines / Refund * Year'] = df['Fines'].values / (df['Refund'].values * df['Year'].values)

CPU times: user 537 µs, sys: 93 µs, total: 630 µs
Wall time: 585 µs

In [17]:
df.head()

      CarNumber  Refund   Fines    Make  Model  Year  Fines / Refund * Year
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989               0.804424
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995               3.258145
2   7184TT36RUS       1  2100.0    Ford  Focus  1984               1.058468
3  X582HE161RUS       2  2000.0    Ford  Focus  2015               0.496278
4  92918M178RUS       1  5700.0    Ford  Focus  2014               2.830189

In [18]:
del df['Fines / Refund * Year']

## • indexing: measure the time using the magic command %%timeit in the cell

◦ get a row for a speciﬁc CarNumber, for example, ’O136HO197RUS’

◦ set the index in your dataframe with CarNumber

◦ again, get a row for the same CarNumber

In [19]:
%%time
df.loc[df['CarNumber'] == 'O136HO197RUS']

CPU times: user 1.77 ms, sys: 1.17 ms, total: 2.94 ms
Wall time: 1.97 ms

        CarNumber  Refund   Fines    Make    Model  Year
715  O136HO197RUS       2  7800.0  Toyota  Corolla  1999
902  O136HO197RUS       2  7800.0  Toyota  Corolla  1991

In [20]:
df = df.set_index('CarNumber')

In [21]:
%%time
df.loc['O136HO197RUS']

CPU times: user 1.03 ms, sys: 208 µs, total: 1.24 ms
Wall time: 5.58 ms

              Refund   Fines    Make    Model  Year
CarNumber
O136HO197RUS       2  7800.0  Toyota  Corolla  1999
O136HO197RUS       2  7800.0  Toyota  Corolla  1991

## • downcasting:

◦ run df.info(memory_usage=’deep’), pay attention to the Dtype and the memory usage

◦ make a copy() of your initial dataframe into another dataframe optimized 

◦ downcast from ﬂoat64 to ﬂoat32 for all the columns

◦ downcast from int64 to the smallest numerical dtype possible

◦ run info(memory_usage=’deep’) for your new dataframe, pay attention to the Dtype and the memory usage

In [22]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to T171CC96RUS
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  930 non-null    int64
 1   Fines   930 non-null    float64
 2   Make    930 non-null    object
 3   Model   919 non-null    object
 4   Year    930 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 228.7 KB

In [23]:
df_copy = df.copy()
df_copy.head()

              Refund   Fines    Make  Model  Year
CarNumber
Y163O8161RUS       2  3200.0    Ford  Focus  1989
E432XX77RUS        1  6500.0  Toyota  Camry  1995
7184TT36RUS        1  2100.0    Ford  Focus  1984
X582HE161RUS       2  2000.0    Ford  Focus  2015
92918M178RUS       1  5700.0    Ford  Focus  2014

In [24]:
df_copy['Fines'] = pd.to_numeric(df_copy['Fines'], downcast='float')
df_copy['Refund'] = pd.to_numeric(df_copy['Refund'], downcast='integer')
df_copy['Year'] = pd.to_numeric(df_copy['Year'], downcast='integer')
df_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to T171CC96RUS
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  930 non-null    int8
 1   Fines   930 non-null    float32
 2   Make    930 non-null    object
 3   Model   919 non-null    object
 4   Year    930 non-null    int16
dtypes: float32(1), int16(1), int8(1), object(2)
memory usage: 213.3 KB

## • categories:

◦ change the object type columns to the type category

◦ This time, check the memory usage, it probably has a decrease of 2-3 times compared to the initial dataframe

In [25]:
df_copy['Make'] = df_copy['Make'].astype('category')
df_copy['Model'] = df_copy['Model'].astype('category')
df_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to T171CC96RUS
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  930 non-null    int8
 1   Fines   930 non-null    float32
 2   Make    930 non-null    category
 3   Model   919 non-null    category
 4   Year    930 non-null    int16
dtypes: category(2), float32(1), int16(1), int8(1)
memory usage: 104.5 KB

## • memory clean
◦ using %reset_selective and the library gc clean the memory of your initial dataframe only

In [26]:
df.head()

              Refund   Fines    Make  Model  Year
CarNumber
Y163O8161RUS       2  3200.0    Ford  Focus  1989
E432XX77RUS        1  6500.0  Toyota  Camry  1995
7184TT36RUS        1  2100.0    Ford  Focus  1984
X582HE161RUS       2  2000.0    Ford  Focus  2015
92918M178RUS       1  5700.0    Ford  Focus  2014

In [27]:
%reset_selective -f df

In [28]:
df.head()

NameError: name 'df' is not defined