# Exercise 00 : Load and save

In [1]:
import pandas as pd

## read_csv:

In [2]:
df = pd.read_csv("../data/feed-views.log",
                 skiprows=[2,3],
                 skipfooter=2,
                 names=("datetime", "user"),
                 index_col="datetime",
                 sep="\t",
                 engine="python")
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [3]:
df.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1072 entries, 2020-04-17 12:01:08.463179 to 2020-05-21 23:23:49.995349
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   user    1072 non-null   object
dtypes: object(1)
memory usage: 16.8+ KB

In [5]:
df.count()

user    1072
dtype: int64

## rename  datetime  to  date_time

In [6]:
df.index.name = "date_time"
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [7]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1072 entries, 2020-04-17 12:01:08.463179 to 2020-05-21 23:23:49.995349
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   user    1072 non-null   object
dtypes: object(1)
memory usage: 16.8+ KB

In [9]:
df.count()

user    1072
dtype: int64

## to_csv

In [10]:
df.to_csv("../data/feed-views-semicolon.log", sep=";")

In [11]:
df2 = pd.read_csv("../data/feed-views-semicolon.log", sep=";")

In [12]:
df2.head()

                    date_time    user
0  2020-04-17 12:01:08.463179   artem
1  2020-04-17 12:01:23.743946   artem
2  2020-04-17 12:35:52.735016   artem
3  2020-04-17 12:36:21.401412  oksana
4  2020-04-17 12:36:22.023355  oksana

In [13]:
df2.tail()

                       date_time       user
1067  2020-05-21 16:36:40.915488  ekaterina
1068  2020-05-21 17:49:36.429237      maxim
1069  2020-05-21 18:45:20.441142  valentina
1070  2020-05-21 23:03:06.457819      maxim
1071  2020-05-21 23:23:49.995349      pavel

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1072 entries, 2020-04-17 12:01:08.463179 to 2020-05-21 23:23:49.995349
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   user    1072 non-null   object
dtypes: object(1)
memory usage: 16.8+ KB

In [15]:
df2.count()

date_time    1072
user         1072
dtype: int64