# Exercise 02 : Join

In [1]:
import pandas as pd
import sqlite3

## • create a connection to the database using the library sqlite3

In [2]:
try:
    connection = sqlite3.connect('../data/checking-logs.sqlite.sqlite')
    print("Successfully connect to the database")
except sqlite3.Error as error:
    print("Error when connecting to the database", error)

Successfully connect to the database

## • create a new table datamart in the database by joining the tables pageviews and checker using only one query

◦ the table should have the following columns: uid, labname, first_commit_ts, first_view_ts

◦ first_commit_ts is just a new name of the column timestamp from the checker table, it shows the first commit from a particular lab and from a particular user

◦ first_view_ts is the first visit of a user to the table pageviews, timestamp when a user visited the newsfeed

◦ status = ’ready’ should still be a filter

◦ numTrials = 1 should still be a filter

◦ labnames should still be from the list: ’laba04’, ’laba04s’, ’laba05’, ’laba06’, ’laba06s’, ’project1’

◦ the table should contain only the users (uids with user_*) and not the admins

◦ first_commit_ts and first_view_ts should be parsed as datetime64[ns]

In [3]:
query = """
SELECT checker.uid, checker.labname, checker.timestamp AS first_commit_ts, pageviews.datetime AS first_view_ts
FROM checker LEFT JOIN pageviews ON checker.uid = pageviews.uid
WHERE checker.status='ready' AND checker.numTrials=1 AND checker.labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1') AND checker.uid LIKE 'user_%' AND
(
    pageviews.datetime IS NULL OR pageviews.datetime =
    (
        SELECT min(pageviews.datetime)
        FROM pageviews
        WHERE uid = checker.uid
    )
)
"""
datamart = pd.io.sql.read_sql(query, connection, parse_dates=['first_commit_ts', 'first_view_ts'])

In [8]:
datamart.head()

       uid   labname            first_commit_ts              first_view_ts
0   user_4  project1 2020-04-17 05:19:02.744528                        NaT
1   user_4    laba04 2020-04-17 11:33:17.366400                        NaT
2   user_4   laba04s 2020-04-17 11:48:41.992466                        NaT
3  user_17  project1 2020-04-18 07:56:45.408648 2020-04-18 10:56:55.833899
4  user_30    laba04 2020-04-18 13:36:53.971502 2020-04-17 22:46:26.785035

In [5]:
datamart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              140 non-null    object
 1   labname          140 non-null    object
 2   first_commit_ts  140 non-null    datetime64[ns]
 3   first_view_ts    59 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 4.5+ KB

In [6]:
datamart.to_sql('datamart', connection)

## • using Pandas methods, create two dataframes: test and control

◦ test should have the users that have the values in first_view_ts

◦ control should have the users that have missing values in first_view_ts

◦ replace the missing values in the control with the average first_view_ts of the test users, we will use this value for the future analysis

◦ save both tables into the database, you will use them in the next exercises

In [9]:
test = datamart.loc[datamart['first_view_ts'].notnull()]
# test = test.reset_index(drop=True)
test

         uid   labname            first_commit_ts              first_view_ts
3    user_17  project1 2020-04-18 07:56:45.408648 2020-04-18 10:56:55.833899
4    user_30    laba04 2020-04-18 13:36:53.971502 2020-04-17 22:46:26.785035
7    user_30   laba04s 2020-04-18 14:51:37.498399 2020-04-17 22:46:26.785035
8    user_14    laba04 2020-04-18 15:14:00.312338 2020-04-18 10:53:52.623447
11   user_14   laba04s 2020-04-18 22:30:30.247628 2020-04-18 10:53:52.623447
18   user_19    laba04 2020-04-20 19:05:01.297780 2020-04-21 20:30:38.034966
19   user_25    laba04 2020-04-20 19:16:50.673054 2020-05-09 23:54:54.260791
20   user_21    laba04 2020-04-21 17:48:00.487806 2020-04-22 22:40:36.824081
21   user_30  project1 2020-04-22 12:36:24.053518 2020-04-17 22:46:26.785035
23   user_21   laba04s 2020-04-22 20:09:21.857747 2020-04-22 22:40:36.824081
24   user_28    laba04 2020-04-22 21:47:19.707242 2020-05-10 21:07:50.350946
27   user_17    laba04 2020-04-23 14:24:29.947554 2020-04-18 10:56:55.833899
28    user_3    laba04 2020-04-23 20:29:14.054364 2020-05-08 10:53:47.123832
29    user_3   laba04s 2020-04-23 20:40:26.883591 2020-05-08 10:53:47.123832
33   user_10    laba04 2020-04-25 08:24:52.696624 2020-04-18 12:19:50.182714
34   user_10   laba04s 2020-04-25 08:37:54.604222 2020-04-18 12:19:50.182714
35   user_17   laba04s 2020-04-25 12:10:56.414175 2020-04-18 10:56:55.833899
41   user_28   laba04s 2020-04-26 15:53:44.906136 2020-05-10 21:07:50.350946
43    user_1    laba04 2020-04-26 17:06:18.462708 2020-04-26 21:53:59.624136
44    user_1   laba04s 2020-04-26 17:12:11.843671 2020-04-26 21:53:59.624136
46   user_18    laba04 2020-04-26 19:48:11.822365 2020-04-26 22:49:29.243278
47   user_18   laba04s 2020-04-26 20:03:56.935458 2020-04-26 22:49:29.243278
49   user_25   laba04s 2020-04-26 21:07:56.952117 2020-05-09 23:54:54.260791
54   user_14    laba05 2020-04-30 11:33:04.523118 2020-04-18 10:53:52.623447
57    user_3    laba05 2020-05-01 11:29:17.988118 2020-05-08 10:53:47.123832
58   user_25    laba05 2020-05-01 13:02:27.357650 2020-05-09 23:54:54.260791
60   user_28    laba05 2020-05-01 18:29:11.968537 2020-05-10 21:07:50.350946
61   user_10    laba05 2020-05-01 19:27:26.063245 2020-04-18 12:19:50.182714
62   user_30    laba05 2020-05-01 19:31:18.375833 2020-04-17 22:46:26.785035
64   user_17    laba05 2020-05-02 13:21:24.045876 2020-04-18 10:56:55.833899
66   user_21    laba05 2020-05-02 14:05:40.013959 2020-04-22 22:40:36.824081
68   user_19    laba05 2020-05-02 15:16:13.586405 2020-04-21 20:30:38.034966
70    user_1    laba05 2020-05-02 19:15:18.540185 2020-04-26 21:53:59.624136
76   user_18    laba05 2020-05-03 13:01:34.848756 2020-04-26 22:49:29.243278
83   user_14  project1 2020-05-05 21:35:43.554986 2020-04-18 10:53:52.623447
85    user_3  project1 2020-05-07 21:02:52.885133 2020-05-08 10:53:47.123832
86   user_25  project1 2020-05-08 11:10:28.100852 2020-05-09 23:54:54.260791
88   user_21  project1 2020-05-10 15:21:05.442755 2020-04-22 22:40:36.824081
89   user_18  project1 2020-05-11 10:10:04.166881 2020-04-26 22:49:29.243278
93   user_28  project1 2020-05-12 14:42:19.166414 2020-05-10 21:07:50.350946
95   user_10  project1 2020-05-12 20:12:28.056618 2020-04-18 12:19:50.182714
98   user_19  project1 2020-05-14 10:33:45.495389 2020-04-21 20:30:38.034966
103   user_1  project1 2020-05-14 20:56:08.898880 2020-04-26 21:53:59.624136
107   user_3    laba06 2020-05-17 09:56:40.480319 2020-05-08 10:53:47.123832
109   user_1    laba06 2020-05-17 16:26:35.268534 2020-04-26 21:53:59.624136
110  user_28    laba06 2020-05-17 17:08:48.257050 2020-05-10 21:07:50.350946
115  user_25    laba06 2020-05-18 17:07:47.988807 2020-05-09 23:54:54.260791
120   user_3   laba06s 2020-05-19 08:42:50.851878 2020-05-08 10:53:47.123832
123  user_19    laba06 2020-05-19 10:25:54.121465 2020-04-21 20:30:38.034966
124  user_10    laba06 2020-05-19 11:39:28.885637 2020-04-18 12:19:50.182714
127  user_30    laba06 2020-05-19 17:53:15.088248 2020-04-17 22:46:26.785035
128  user_21    laba06 2020-05-19 19:30:14.644328 2020-04-22 22:40:36.824081
129  user_10   laba06s 2020-05-20 07:37:31.175817 2020-04-18 12:19:50.182714
130   user_1   laba06s 2020-05-20 12:23:37.289724 2020-04-26 21:53:59.624136
131  user_25   laba06s 2020-05-20 14:02:26.512032 2020-05-09 23:54:54.260791
133  user_28   laba06s 2020-05-20 20:42:44.423160 2020-05-10 21:07:50.350946
136  user_19   laba06s 2020-05-21 13:27:06.705881 2020-04-21 20:30:38.034966
138  user_17    laba06 2020-05-21 15:21:31.567615 2020-04-18 10:56:55.833899
139  user_17   laba06s 2020-05-21 17:39:17.783615 2020-04-18 10:56:55.833899

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 3 to 139
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              59 non-null     object
 1   labname          59 non-null     object
 2   first_commit_ts  59 non-null     datetime64[ns]
 3   first_view_ts    59 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 2.3+ KB

In [11]:
control = datamart.loc[datamart['first_view_ts'].isnull()]
# control = control.reset_index(drop=True)
control = control.fillna(test['first_view_ts'].mean())
control

,uid,labname,first_commit_ts,first_view_ts
0,user_4,project1,2020-04-17 05:19:02.744528,2020-04-27 00:40:05.761783552
1,user_4,laba04,2020-04-17 11:33:17.366400,2020-04-27 00:40:05.761783552
2,user_4,laba04s,2020-04-17 11:48:41.992466,2020-04-27 00:40:05.761783552
5,user_2,laba04,2020-04-18 13:42:35.482008,2020-04-27 00:40:05.761783552
6,user_2,laba04s,2020-04-18 13:51:22.291271,2020-04-27 00:40:05.761783552
...,...,...,...,...
126,user_2,laba06s,2020-05-19 14:45:03.908268,2020-04-27 00:40:05.761783552
132,user_6,laba06s,2020-05-20 14:50:07.609937,2020-04-27 00:40:05.761783552
134,user_7,laba06s,2020-05-20 23:05:37.742597,2020-04-27 00:40:05.761783552
135,user_23,laba06,2020-05-21 08:34:10.517205,2020-04-27 00:40:05.761783552
137,user_23,laba06s,2020-05-21 14:29:15.709568,2020-04-27 00:40:05.761783552

In [12]:
control.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81 entries, 0 to 137
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              81 non-null     object
 1   labname          81 non-null     object
 2   first_commit_ts  81 non-null     datetime64[ns]
 3   first_view_ts    81 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 3.2+ KB

In [13]:
test.to_sql('test', connection)

In [14]:
control.to_sql('control', connection)

## • close the connection

In [15]:
connection.close()

# Check added tables

In [18]:
try:
    new_connection = sqlite3.connect('../data/checking-logs.sqlite.sqlite')
    print("Successfully connect to the database")
except sqlite3.Error as error:
    print("Error when connecting to the database", error)

Successfully connect to the database

In [19]:
new_test = pd.io.sql.read_sql('SELECT * FROM test', new_connection)

In [20]:
new_control = pd.io.sql.read_sql('SELECT * FROM control', new_connection)

In [21]:
new_test.head()

,index,uid,labname,first_commit_ts,first_view_ts
0,3,user_17,project1,2020-04-18 07:56:45.408648,2020-04-18 10:56:55.833899
1,4,user_30,laba04,2020-04-18 13:36:53.971502,2020-04-17 22:46:26.785035
2,7,user_30,laba04s,2020-04-18 14:51:37.498399,2020-04-17 22:46:26.785035
3,8,user_14,laba04,2020-04-18 15:14:00.312338,2020-04-18 10:53:52.623447
4,11,user_14,laba04s,2020-04-18 22:30:30.247628,2020-04-18 10:53:52.623447

In [22]:
new_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            59 non-null     int64
 1   uid              59 non-null     object
 2   labname          59 non-null     object
 3   first_commit_ts  59 non-null     object
 4   first_view_ts    59 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.4+ KB

In [23]:
new_control.head()

,index,uid,labname,first_commit_ts,first_view_ts
0,0,user_4,project1,2020-04-17 05:19:02.744528,2020-04-27 00:40:05.761783
1,1,user_4,laba04,2020-04-17 11:33:17.366400,2020-04-27 00:40:05.761783
2,2,user_4,laba04s,2020-04-17 11:48:41.992466,2020-04-27 00:40:05.761783
3,5,user_2,laba04,2020-04-18 13:42:35.482008,2020-04-27 00:40:05.761783
4,6,user_2,laba04s,2020-04-18 13:51:22.291271,2020-04-27 00:40:05.761783

In [24]:
new_control.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            81 non-null     int64
 1   uid              81 non-null     object
 2   labname          81 non-null     object
 3   first_commit_ts  81 non-null     object
 4   first_view_ts    81 non-null     object
dtypes: int64(1), object(4)
memory usage: 3.3+ KB

In [25]:
new_connection.close()