# Exercise 02 : Preprocessing

In [1]:
import pandas as pd

## download and read the CSV Ô¨Åle and make ID the index column

In [2]:
df = pd.read_csv("../data/auto.csv", index_col="ID")
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 931 entries, 0 to 930
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CarNumber     931 non-null    object
 1   Make_n_model  931 non-null    object
 2   Refund        914 non-null    float64
 3   Fines         869 non-null    float64
 4   History       82 non-null     float64
dtypes: float64(3), object(2)
memory usage: 43.6+ KB

## count the number of observations using the method count()

In [4]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## drop the duplicates, taking into account only the following columns: CarNumber, Make_n_model, Fines

In [5]:
df = df.drop_duplicates(subset=["CarNumber", "Make_n_model", "Fines"], keep="last")
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## work with missing values

In [6]:
df.isna().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [7]:
df = df.dropna(axis=1, thresh=500)
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [8]:
df.Refund.fillna(method='ffill', inplace=True)
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [9]:
df.Fines.fillna(df.Fines.mean(), inplace=True)
df.isna().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## split and parse the make and model

In [10]:
df['Make'] = df.Make_n_model.apply(lambda x: x.split()[0])
df['Model'] = df.Make_n_model.apply(lambda x: x.split()[1] if len(x.split()) == 2 else None)
df.drop('Make_n_model', axis=1, inplace=True)
df.head()

       CarNumber  Refund   Fines    Make  Model
ID
0   Y163O8161RUS     2.0  3200.0    Ford  Focus
1    E432XX77RUS     1.0  6500.0  Toyota  Camry
2    7184TT36RUS     1.0  2100.0    Ford  Focus
3   X582HE161RUS     2.0  2000.0    Ford  Focus
5   92918M178RUS     1.0  5700.0    Ford  Focus

In [11]:
df.isna().sum()

CarNumber    0
Refund       0
Fines        0
Make         0
Model        9
dtype: int64

In [12]:
df.count()

CarNumber    725
Refund       725
Fines        725
Make         725
Model        716
dtype: int64

In [13]:
df.to_json('../data/auto.json', orient='records')

In [14]:
df2 = pd.read_json('../data/auto.json', orient='records')

In [15]:
df2.count()

CarNumber    725
Refund       725
Fines        725
Make         725
Model        716
dtype: int64

In [16]:
df2['Fines'].mean()

8594.586466165412

In [17]:
df2['Refund'].mean()

1.5172413793103448